{# used as helper for format or split #}
{% set I = '' %}

{# file header #}
{% set copyright_t=[
	'Copyright (C) 2000-2014 All Right Reserved',
	'',
	'THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY',
	'KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE',
	'IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A',
	'PARTICULAR PURPOSE.'
	] %}
{% set author_t=[
	'anonymouse(anonymouse@email)'
	] %}
{% set date_t='now' %}
{% set summary_t=[
	'Auto generate to show Design Pattern in C'
	] %}

