{%- include '../autogen_.jinja' ignore missing -%}
{% block file_header %}{% endblock %}
#ifndef __{{ name.upper() }}_H__
#define __{{ name.upper() }}_H__

{% block include %}{% endblock %}

{% block forward_declare %}{% endblock %}
{% block class_definition %}{% endblock %}

{% block vtable_declare %}{% endblock %}

{% block class_init %}{% endblock %}
{% block public_methods %}{% endblock %}
{% block vtable_helper %}{% endblock %}

#endif /* __{{ name.upper() }}_H__ */

