{%- extends '__header.jinja' -%}


{%- block forward_declare %}{% if _have_vtable_new -%}
struct {{ name }}_ops;{{ NEWLINE }}
{%- endif %}{% endblock -%}


{% block class_definition %}
struct {{ name }} {
	{% if _have_vtable_new -%}struct {{ name }}_ops *ops;{% endif -%}

	{% block vars %}{% endblock %}
};
{% endblock %}


{% block vtable_declare %}{% if _have_vtable_new %}
struct {{ name }}_ops {
	{%- block vtable_item %}{% endblock -%}

	{%- if _have_super_ref %}struct {{ name }}_ops *super;{% endif %}
};
{%- endif %}{% endblock %}


{% block class_init %}
void {{ name }}_init(struct {{ name }} *);
{% endblock %}


{% block vtable_helper %}{% if _have_vtable_new -%}
	{% block vtable_helper_item %}{% endblock %}
{% endif %}{% endblock %}

