{% block file_header %}{% endblock %}
#include <stdlib.h>
#include <stdio.h>
#include <string.h>
{% if supers %}#include <myobj.h>{% endif %}
#include "{{ name }}.h"

{% block private_method %}{% endblock %}
{%- if _have_vtable_new -%}
	{%- block vtable_impl %}{% endblock -%}
	{%- block vtable_set %}{% endblock -%}
{%- endif -%}
{% block supers %}{% endblock %}
{% block init %}{% endblock %}
{% block public_method %}{% endblock %}
