{% extends '_source.jinja' %}
{% import '_macro.jinja' as func %}

{%- block method -%}
	{{- func.macro_loop_functions(name,'static',methods,'impl','printf') -}}
{%- endblock -%}

{%- block ops_func -%}
	{{- func.macro_loop_functions(name,'static',virtuals,'impl','printf') -}}
{%- endblock -%}

{%- block ops_func_set -%}
{%- endblock -%}

{%- block init -%}
{%- endblock -%}

{%- block routine -%}
	{{- func.macro_loop_functions(name,'static',routines,'impl','printf') -}}
{%- endblock -%}
