{%- extends '_header.jinja' -%}
{%- include '_common.jinja' -%}
{%- import '_macro.jinja' as func -%}

{% block file_header %}{% if add_file_header -%}
	{%- if not copyright -%}{% set copyright=copyright_t %}{%- endif -%}
	{%- if not author -%}{% set author=author_t %}{%- endif -%}
	{%- if not date -%}{% set date=date_t %}{%- endif -%}
	{%- if not summary -%}{% set summary=summary_t %}{%- endif -%}

	{{- func.file_header(file_header_name,copyright_t,author_t,date_t,summary_t) -}}
{% endif %}{% endblock %}

{%- block include -%}
{%- if includes -%}
	{%- for one_include in includes -%}
#include "{{ one_include }}.h"
	{%- endfor -%}
{%- endif -%}

{# class dependency #}
{%- if supers -%}
	{%- for parent_name,parent_vtables in supers.iteritems() -%}
#include "{{ parent_name }}.h"
	{%- endfor -%}
{%- endif -%}
{%- endblock -%}

{%- block forward_declare -%}
{%- if _have_vtable_new -%}
struct {{ name }}_ops;
{%- endif -%}
{%- endblock -%}


{%- block class_definition -%}
struct {{ name }} {
	{%- if supers -%}
		{%- for parent_name,parent_vtables in supers.iteritems() %}
	struct {{ parent_name }} {{ parent_name }};
		{%- endfor -%}
	{%- endif -%}

	{%- if _have_vtable_new %}
	struct {{ name }}_ops *ops;
	{%- endif -%}

	{{- func.macro_loop_functions(name,vars,mode='var') }}
};
{%- endblock -%}


{%- block vtable_declare -%}
{%- if _have_vtable_new -%}
struct {{ name }}_ops {
	{%- block parents %}{% endblock -%}
	{{- func.macro_loop_functions(name,virtuals,mode='declare',impl_as='ops') -}}

	{%- if _have_super_ref %}
	struct {{ name }}_ops *super;
	{%- endif %}
};
{%- endif -%}
{%- endblock -%}


{%- block class_init -%}
void {{ name }}_init(struct {{ name }} *);
{%- endblock -%}


{%- block public_methods -%}
	{{- func.macro_loop_functions(name,methods,mode='declare',impl_as='func',format_str='%s_%s') -}}
{%- endblock -%}


{%- block vtable_helper -%}
{%- if _have_vtable_new -%}
	{{- func.macro_loop_functions(name,virtuals,mode='impl',impl_as='ops',qualifier='static inline',format_str='%s_%s') -}}
{%- endif -%}
{%- endblock -%}

