#ifndef {{ NAME }}_H_
#define {{ NAME }}_H_

struct {{ name }}_ops;
struct {{ name }} {
	struct {{ name }}_ops *ops;
};

struct pizza_ops {
{%- for func_rtn, func, func_params in members -%}
	{%- if func_params %}
	{{ func_rtn }} (*{{ func }})(struct {{ name }} *, {{ func_params }});
	{%- else %}
	{{ func_rtn }} (*{{ func }})(struct {{ name }} *);
	{%- endif -%}
{%- endfor -%}

{% if enable_super %}
	struct {{ name }}_ops *super;
{%- endif %}
};

void {{ name }}_init(struct {{ name }} *);
{% for func_rtn, func, func_params in members %}
static inline
{%- if func_params %}
{{ func_rtn }} {{ name }}_{{ func }}(struct {{ name }} *{{ name }}, {{ func_params }})
{
	{{ name }}->ops->{{ func }}({{ name }}, {{ func_params }});
}
{%- else %}
{{ func_rtn }} {{ name }}_{{ func }}(struct {{ name }} *{{ name }})
{
	{{ name }}->ops->{{ func }}({{ name }});
}
{% endif %}
{% endfor %}
#endif /* {{ NAME }}_H_ */

